@font-face{
  font-family: "bt-font";
  src: url("/fonts/btfont_lt.eot");
  src: url("/fonts/btfont_lt.eot?#iefix") format("embedded-opentype"),
       url("/fonts/btfont_lt.woff") format("woff");
  font-weight: 400;
}

@font-face{
  font-family: "bt-font";
  src: url("/fonts/btfont_rg.eot");
  src: url("/fonts/btfont_rg.eot?#iefix") format("embedded-opentype"),
       url("/fonts/btfont_rg.woff") format("woff");
  font-weight: 500;
}

$font-family-sans-serif: "bt-font", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 400;
.navbar-nav {
  font-weight: 500;
}
