.main {
  padding-top: 5rem;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

.bg-black-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}

.embed-background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-fixed-height {
  height: 6.5em;
  overflow: hidden;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .avatar-img {
    background-image: url("/images/user_placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    margin-bottom: .25rem;
  }

  .avatar-name {
    margin-bottom: .25rem;
    white-space: nowrap;
  }

  .avatar-title {
    margin-bottom: .25rem;
  }
}

.skill-list {
  .skill-badge {
    background-color: $gray-600;
    color: $light;
    font-size: 100%;
    margin-bottom: 0.25rem;
  }

  &:nth-child(4n+1) .skill-badge { background-color: $red; }
  &:nth-child(4n+2) .skill-badge { background-color: $green; }
  &:nth-child(4n+3) .skill-badge { background-color: $yellow; }
  &:nth-child(4n+4) .skill-badge { background-color: $blue; }
}

video {
  margin: 0 0 1rem; /* same as figure */
}

.project-info-item {
  border-bottom: 1px solid $gray-300;
  display: flex;
  font-size: 90%;
  justify-content: space-between;
  padding: 1rem 0;
}
.project-info-item-title {
  white-space: nowrap;
}
.project-info-item-value {
  color: $text-muted;
  margin-bottom: 0;
  text-align: right;
}

.figure-caption p { margin-bottom: 0; }

.fade-in-slide {
  animation-name: fade-in-slide;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes fade-in-slide {
  0% {
      transform: translateX(-1.5rem);
      opacity: 0;
  }
}
