{{ with .Params.site }}
  <div class="project-info-item">
    <span class="project-info-item-title"><i class="fas fa-fw fa-link"></i> Site</span>
    <span class="project-info-item-value"><a href="{{ . }}">{{ replaceRE "^https?://(.*)" "$1" . }}</a></span>
  </div>
{{ end }}

{{ with .Params.repo }}
  <div class="project-info-item">
    <span class="project-info-item-title"><i class="fas fa-fw fa-code-branch"></i> Repository</span>
    <span class="project-info-item-value"><a href="{{ . }}">{{ replaceRE "^https?://(.*)" "$1" . }}</a></span>
  </div>
{{ end }}

{{ with .Params.team }}
  <div class="project-info-item">
    <span class="project-info-item-title"><i class="fas fa-fw fa-users"></i> Team</span>
    <span class="project-info-item-value">
      {{ with $.Site.GetPage (printf "/teams/%s" .) }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ else }}
        {{ humanize . }}
      {{ end }}
    </span>
  </div>
{{ end}}

{{ with .Params.email }}
  <div class="project-info-item">
    <span class="project-info-item-title"><i class="far fa-fw fa-envelope"></i> Contact</span>
    <span class="project-info-item-value"><a href="mailto:{{ . }}">{{ . }}</a></span>
  </div>
{{ end }}

{{ with .Params.technologies }}
  <div class="project-info-item">
    <span class="project-info-item-title"><i class="fas fa-fw fa-wrench"></i> Technologies</span>
    <ul class="project-info-item-value list-unstyled">
      {{ range . }}
        <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>
{{ end }}
