<header class="navbar navbar-expand flex-row align-items-center justify-content-between fixed-top navbar-dark bg-primary shadow">
  <a href="{{ relURL .Site.BaseURL }}" class="navbar-brand">
      {{ if .Site.Params.brandLogo }}
        <img src="/{{ .Site.Params.brandLogo }}" width="30" height="30" class="d-inline-block align-top" />
      {{ end }}
      {{ .Site.Title }}
  </a>
  <ul class="navbar-nav">
    {{ if .Site.Menus.main }}
      {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ .URL }}" title="{{ .Name }} page" id="navbarDropdown-{{ .Identifier }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-{{ .Identifier }}">
              {{ range .Children }}
                <a class="dropdown-item" href="{{ .URL }}" title="{{ .Name }} page">
                  {{ .Name }}
                </a>
              {{ end }}
            </div>
          </li>
        {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</header>
