{{ define "main" }}
  <div class="container">
    <header>
      <h1>
        {{ .Title }}
      </h1>
    </header>
    <article>
      <div class="lead">
        {{- .Content -}}
      </div>
      <div class="row">
        {{ range (.Paginate (.Pages.ByParam .Params.page_order)).Pages }}
          <div class="col-lg-4 col-md-6">
            <div class="card mb-4">
              <a href="{{ .RelPermalink }}">
                {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
                {{ with $img }}
                  <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item embed-background-image" style="background-image: url('{{ .RelPermalink }}');"></div>
                  </div>
                {{ else }}
                  <svg class="bd-placeholder-img card-img-top" width="100%" height="195" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Featured Image">
                    <title>Featured Image</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Featured Image</text>
                  </svg>
                {{ end }}
              </a>

              <div class="card-body">
                <div class="card-fixed-height">
                  {{ if .Draft }}<span class="badge badge-secondary float-right">Draft</span>{{ end }}
                  <h5 class="card-title">
                    <a href="{{ .RelPermalink }}">
                      {{ .Title }}
                    </a>
                  </h5>
                  {{ if eq .Section "news" }}
                    <h6 class="card-subtitle text-muted small mb-2">
                      {{ .Date.Format "January 2, 2006" }}
                    </h6>
                  {{ end }}
                  <p class="card-text">
                    {{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}
                  </p>
                </div>
                <a href="{{ .URL }}" class="btn btn-sm btn-primary float-right">More &gt;</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <div class="d-flex justify-content-center">
        {{- template "_internal/pagination.html" . -}}
      </div>
    </article>
  </div>
{{ end }}
